html {
    scroll-behavior: smooth;
}

#header-section {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, .75), rgba(0, 0, 0, .75)), url(../images/imagenes-de-la-tierra.jpg);
    background-position: center center, center center;
    background-size: cover, cover;
    background-repeat: repeat, repeat;
}

#second-section{
background-color: palegreen;
} 

.text-in-white{
color: navy;
}

#parallax-section{
    background-image: url(../images/madrid_gran_vía.jpg);
    background-position: right bottom;
    background-size: cover;
    background-repeat: repeat;
    background-attachment: fixed;
}

#footer-section {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, .75), rgba(0, 0, 0, .75)), url(../images/playa.jpg);
    background-position: center center, center center;
    background-size: cover, cover;
    background-repeat: repeat, repeat;
}